@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div class="row text-center">
    <div class="col">
        <h1 class="display-4">Welcome to AmazonBooks.com</h1>
        <p>Learn more about <a class="text-decoration-none" href="https://www.aboutamazon.com/about-us">our history</a>.</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-bordered table-hover table-responsive">
            <thead class="thead-dark">
                <tr><th scope="col">Column Number</th><th scope="col">Title</th><th scope="col">Author</th><th scope="col">Publisher</th><th scope="col">ISBN</th><th scope="col">Classification</th><th scope="col">Category</th><th scope="col">Price</th><th scope="col">Pages</th></tr>
            </thead>
            <tbody>
                <!--For each loop, goes through each object in the model and displays there attributes in a table formatted below-->
                @foreach (var b in Model.Books)
                {
                    <tr>
                        <td>@b.BookId</td>
                        <td>@b.Title</td>
                        <td>@(b.AuthorFirst + " " + b.AuthorMiddle + " " + b.AuthorLast)</td>
                        <td>@b.Publisher</td>
                        <td>@b.ISBN</td>
                        <td>@b.Classification</td>
                        <td>@b.Category</td>
                        <td>$@b.Price</td>
                        <td>@b.NumOfPages</td>
                    </tr>
                }
            </tbody>
        </table>
    </div> 
</div>
<div class="row">
    <div class="col-5"></div>
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1 col-2"></div>
    <div class="col-5"></div>
</div>
